.song {
  cursor: pointer;
  color:whitesmoke;
  margin: 5px;
  font-size: 1.25rem;
}
.form-box{
  justify-content: center;
  margin: 10px;
}
.artist-search{
  width: 35rem;
}
.get-music {
  margin: 10px;
  width: 10rem;
}
.target-card{
  width: 20rem;
  margin: 10px;
}
#target-song{
  justify-content: center;
}
#song-list{
  flex-direction:column;
align-content: center;
background-color: rgba(52, 58, 64, 0.678);
}
.main-bg{
  background-image:url(https://images.unsplash.com/photo-1513829596324-4bb2800c5efb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a2e3abeff94d9a95db8c3b25e84f3718&auto=format&fit=crop&w=1350&q=80);
  background-size:cover;
  background-position: center;
  min-height: 100vh;
}
.main-title {
  color:whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  letter-spacing: 20px;
  font-style: italic;
}
header {
  background-image: linear-gradient(to bottom,black, rgba(255, 0, 0, 0.349));
}
.card-title, .card-text{
  color:whitesmoke;
}
footer {
 background-image: linear-gradient(to top,black, rgba(255, 0, 0, 0.349));
 height:10rem;
}
main{
  min-height: 80rem;
}